body {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion_crear_hub {

}


#crear_hub {

}

#seccion_unir_hub {

}

#unir_hub {

}

#hubCode {
    padding: 1rem;
    font-size: 2rem;
    border: 2px solid black;
    width: 16rem;
    height: 6rem;
}

button, .button {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: dodgerblue;
    color: white;
}